<div class="flex flex-col gap-[100px] mt-20" ngClass={{useCasesData.direction}}>
    <div class="relative grid grid-cols-2 gap-[10px] lg:gap-5 bg-brand-secondary rounded-2xl p-3 lg:p-[50px] flex-1">
        <div class="absolute w-20 lg:w-full top-0 z-10">
            <img src="cases-detail.png" alt="cases detail">
        </div>
        <div *ngFor="let card of useCasesData.cards"
            class="bg-brand-dark rounded-lg h-[180px] flex flex-col lg:p-[30px] px-[12px] py-5 flex-1 items-center z-50 border border-[#262626]">
            <div>
                <img src={{card.icon}} alt="Card product icon">
            </div>
            <h5 class="lg:text-xl text-center text-white mt-6">{{card.text}}</h5>
        </div>
    </div>
    <div class="flex-1 text-center md:text-left">
        <h5 class="text-2xl lg:text-3xl text-white lg:mt-6 font-semibold">{{useCasesData.title}}</h5>
        <p class="mt-[14px] mb-[62px]">{{useCasesData.description}}</p>
        <div class="flex flex-col md:flex-row gap-[70px] md:gap-50 mb-[62px]">
            <div *ngFor="let statistic of useCasesData.statistics">
                <span class="text-[58px] font-semibold text-brand-primary">{{statistic.percentage}}</span>
                <p class="mt-3">{{statistic.text}}</p>
            </div>
        </div>
        <div>
            <button
                class="bg-brand-secondary rounded-full py-[18px] px-6 border border-[#262626] hover:text-brand-primary duration-300 hover:px-8">Learn
                More</button>
        </div>
    </div>
</div>