<div class="bg-brand-secondary pb-[50px]">
    <div
        class="flex flex-col items-center pt-[50px] lg:pt-[100px] lg:pb-[50px] pb-10 max-w-[1612px] px-3 md:px-5 mx-auto">
        <div class="cursor-pointer" routerLink="">
            <img src="logo.svg" class="lg:w-[155px] w-[130px]" alt="Your bank logo">
        </div>
        <div class="flex">
            <ul class="flex items-center gap-[26px] text-white h-[50px] my-6 lg:my-[50px]">
                <li class="cursor-pointer duration-500 ease-in-out hover:text-brand-primary" routerLink="/home">
                    Home</li>
                <li class="cursor-pointer duration-500 ease-in-out hover:text-brand-primary" routerLink="/careers">
                    Careers
                </li>
                <li class="cursor-pointer duration-500 ease-in-out hover:text-brand-primary" routerLink="/about">About
                </li>
                <li class="cursor-pointer duration-500 ease-in-out hover:text-brand-primary" routerLink="/security">
                    Security
                </li>
            </ul>
        </div>
        <div class="flex justify-center flex-wrap w-full py-[50px] px-1 border-y border-[#262626] text-white gap-6">
            <div class="flex items-center gap-2">
                <img class="w-5 lg:w-6" src="mail-icon.png" alt="Mail logo">
                <span>{{'hello@skillbirdge.com'}}</span>
            </div>
            <div class="flex items-center gap-1">
                <img class="w-5 lg:w-6" src="phone-icon.png" alt="Phone logo">
                <span>+91 91813 23 2309</span>
            </div>
            <div class="flex items-center gap-1">
                <img class="w-5 lg:w-6" src="location-icon.png" alt="Location logo">
                <span>Somewhere in the World</span>
            </div>
        </div>
        <div
            class="relative flex flex-col lg:flex-row justify-between items-center w-full bg-brand-dark border border-[#262626] rounded-xl lg:rounded-full mt-[50px] text-brand-grey p-4 pt-14 pb-8 lg:pb-4 lg:pt-4">
            <div class="flex flex-1 gap-3 mt-[-78px] lg:mt-0 mb-8 lg:mb-0">
                <button
                    class="bg-brand-primary cursor-pointer rounded-full lg:p-4 p-3 duration-300 hover:brightness-[80%]">
                    <div>
                        <img class="w-5" src="facebook-icon.png" alt="Facebook logo">
                    </div>
                </button>
                <button
                    class="bg-brand-primary cursor-pointer rounded-full lg:p-4 p-3 duration-300 hover:brightness-[80%]">
                    <div>
                        <img class="w-5" src="twitter-icon.png" alt="Twitter logo">
                    </div>
                </button>
                <button
                    class="bg-brand-primary cursor-pointer rounded-full lg:p-4 p-3 duration-300 hover:brightness-[80%]">
                    <div>
                        <img class="w-5" src="linkedin-icon.png" alt="LinkedIn logo">
                    </div>
                </button>
            </div>
            <div
                class="flex flex-1 flex-col lg:flex-row justify-center lg:justify-between items-center w-full gap-5 lg:me-2">
                <div class="lg:ms-[-20%]">YourBank All Rights Reserved</div>
                <div>Privacy Policy | Terms of Service</div>
            </div>
        </div>
    </div>
</div>