<div
    class="bg-brand-secondary flex justify-between items-center rounded-full text-white relative border border-brand-grey border-opacity-5 py-5 px-6 md:px-9 my-14">
    <div class="cursor-pointer" routerLink="">
        <img src="logo.svg" class="w-28 md:w-full" alt="Your bank logo">
    </div>
    <div class="hidden lg:flex">
        <ul class="flex items-center gap-1 text-lg h-[50px]">
            <li class="rounded-full cursor-pointer px-5 py-2 duration-500 ease-in-out hover:bg-brand-active hover:opacity-80"
                [routerLinkActive]="'bg-brand-active hover:opacity-100'" routerLink="/home">
                Home</li>
            <li class="rounded-full cursor-pointer px-5 py-2 duration-500 ease-in-out hover:bg-brand-active hover:opacity-80"
                [routerLinkActive]="'bg-brand-active'" routerLink="/careers">Careers</li>
            <li class="rounded-full cursor-pointer px-5 py-2 duration-500 ease-in-out hover:bg-brand-active hover:opacity-80"
                [routerLinkActive]="'bg-brand-active'" routerLink="/about">About</li>
            <li class="rounded-full cursor-pointer px-5 py-2 duration-500 ease-in-out hover:bg-brand-active hover:opacity-80"
                [routerLinkActive]="'bg-brand-active'" routerLink="/security">Security</li>
        </ul>
    </div>
    <div class="hidden lg:flex">
        <ul class="flex items-center text-lg">
            <li class="rounded-full cursor-pointer px-5 py-2" routerLink="/signup">Sign Up</li>
            <li class="bg-brand-primary cursor-pointer text-brand-secondary rounded-full font-medium px-7 py-3 duration-300 hover:brightness-[80%] hover:text-black"
                routerLink="/login">
                Login</li>
        </ul>
    </div>
    <div class="flex lg:hidden">
        <button class="bg-brand-primary cursor-pointer rounded-full px-5 py-2 md:py-3" (click)="openMenu()">
            <img class="cursor-pointer" src="menu.svg" alt="Menu icon">
        </button>
    </div>

</div>
<div class="fixed pt-[15vh] top-0 right-0 w-screen h-screen bg-brand-secondary duration-500 ease-in-out"
    [ngClass]="menuHidden ? 'right-[200vw]' : ''">
    <div class="absolute left-[3.5%] top-[2.5%] flex justify-center items-center">
        <button class="bg-brand-primary cursor-pointer rounded-full px-2 py-2 w-9" (click)="closeMenu()">
            <img class="cursor-pointer" src="close.svg" alt="Menu icon">
        </button>
    </div>
    <div class="px-3 flex justify-center items-center">
        <ul class="flex flex-col gap-1 text-lg text-center" (click)="closeMenu()">
            <div class="cursor-pointer mx-auto mb-20" routerLink="">
                <img src="logo.svg" alt="Your bank logo">
            </div>
            <li class="rounded-full cursor-pointer px-5 py-2" [routerLinkActive]="'bg-brand-active'" routerLink="/home">
                Home</li>
            <li class="rounded-full cursor-pointer px-5 py-2" [routerLinkActive]="'bg-brand-active'"
                routerLink="/careers">Careers</li>
            <li class="rounded-full cursor-pointer px-5 py-2" [routerLinkActive]="'bg-brand-active'"
                routerLink="/about">About</li>
            <li class="rounded-full cursor-pointer px-5 py-2" [routerLinkActive]="'bg-brand-active'"
                routerLink="/security">Security</li>
            <li class="rounded-full cursor-pointer px-5 py-2" [routerLinkActive]="'bg-brand-active'"
                routerLink="/signup">Sign Up</li>
            <li class="rounded-full cursor-pointer px-5 py-2" [routerLinkActive]="'bg-brand-active'"
                routerLink="/login">Login</li>
        </ul>
    </div>
</div>