<div class="relative bg-brand-secondary md:pb-[50px] rounded-2xl xl:p-[50px] lg:p-10 p-[14px] md:h-auto">
    <div class="absolute top-0 right-0">
        <img class="w-36 lg:w-56 xl:w-full" src="careers-detail.png" alt="Careets detail">
    </div>
    <div class="relative flex flex-col justify-end">
        <div class="ms-auto md:w-[60%] lg:w-[68%]">
            <img src={{overviewData.image}} alt="Overview hero">
        </div>
        <div
            class="relative md:absolute top-0 left-0 bg-brand-dark md:mt-0 mt-[-35px] rounded-3xl md:rounded-tr-none xl:p-18 lg:p-[60px] md:pb-12 p-6 xl:w-[50%] md:w-[53%] md:rounded-l-2xl md:rounded-br-[3rem] lg:rounded-br-[5rem] text-center md:text-start">
            <h2 class="xl:text-6xl lg:text-5xl text-3xl text-white">{{overviewData.title}}<span
                    class="text-brand-primary">{{overviewData.emphasys}}</span></h2>
            <p class="mt-5">{{overviewData.description}}</p>
        </div>
    </div>
</div>