<div class="relative bg-brand-secondary md:pb-[50px] rounded-2xl xl:p-[50px] lg:p-10 p-[14px] md:h-auto mb-96">
    <div class="absolute top-0 right-0">
        <img class="w-36 lg:w-56 xl:w-full" src="careers-detail.png" alt="Careets detail">
    </div>
    <div class="relative flex flex-col justify-end">
        <div class="ms-auto md:w-[60%] lg:w-[68%]">
            <img src="overview-careers.png" alt="Overview hero">
        </div>
        <div
            class="relative md:absolute top-0 left-0 bg-brand-dark md:mt-0 mt-[-110px] rounded-2xl xl:p-20 lg:p-[60px] md:pb-12 p-6 xl:w-[50%] md:w-[53%] md:rounded-l-2xl md:rounded-br-[3rem] lg:rounded-br-[5rem] text-center md:text-start">
            <h2 class="xl:text-6xl lg:text-5xl text-3xl text-white">Welcome to <span
                    class="text-brand-primary">YourBank</span>
                Careers!</h2>
            <p class="mt-5">Join our team and embark on a rewarding journey in the banking industry. At YourBank, we are
                committed to
                fostering a culture of excellence and providing opportunities for professional growth. With a focus on
                innovation, customer service, and integrity, we strive to make a positive impact in the lives of our
                customers and communities. Join us today and be a part of our mission to shape the future of banking.
            </p>
        </div>
    </div>
</div>