<div
    class="flex flex-col md:flex-row justify-center items-center text-center md:text-left md:items-end md:justify-between gap-5">
    <app-section-title [sectionTitle]="title"></app-section-title>
    <app-toggle-button (toggleButton)="toggleCards($event)"></app-toggle-button>
</div>
<div class="flex flex-wrap flex-col md:flex-row gap-10 md:gap-20 lg:flex-nowrap justify-between mt-[100px] opacity-0 duration-700"
    id="ourProductsCards">
    <div [ngClass]="card.border ? 'lg:border-x lg:border-y-0 md:border-y-0 border-y border-[#262626] lg:px-24 py-10 md:py-0' : ''"
        *ngFor="let card of productsCardList" class="flex flex-col items-center text-center mx-auto">
        <div>
            <img src={{card.icon}} class="w-20 md:w-full" alt="Card product icon">
        </div>
        <h5 class="mt-[30px] mb-6 text-2xl text-white font-medium">{{card.title}}</h5>
        <p class="max-w-[420px]">{{card.text}}</p>
    </div>
</div>