<app-section-title [props]="heading"></app-section-title>

<div class="grid md:grid-cols-2 gap-[30px] mt-20">
    <div class="p-5 lg:p-[30px] bg-brand-secondary border border-[#262626] rounded-[2.5rem]">
        <div>
            <img src="press-releases1.png" alt="Press releases image">
        </div>
        <div class="lg:px-[30px] mt-[50px]">
            <h5 class="font-medium text-white text-xl lg:text-2xl xl:text-3xl">YourBank Launches New Rewards Program to
                Enhance
                Customer Loyalty and Satisfaction</h5>
            <div class="flex flex-wrap gap-2 mt-3 lg:mt-5 mb-6">
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Location:
                    Brazil</span>
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Date:
                    06/11/2024</span>
            </div>
            <p class="mb-4 lg:mb-8">YourBank is pleased to announce the introduction of our new Rewards Program, aimed
                at
                rewarding our loyal
                customers and enhancing their banking experience. The program offers exclusive benefits, discounts, and
                personalized offers tailored to individual customer preferences. With this initiative, YourBank
                reaffirms its commitment to delivering exceptional value and building lasting relationships with our
                valued customers.</p>
        </div>
    </div>

    <div class="p-5 lg:p-[30px] bg-brand-secondary border border-[#262626] rounded-[2.5rem]">
        <div>
            <img src="press-releases1.png" alt="Press releases image">
        </div>
        <div class="lg:px-[30px] mt-[50px]">
            <h5 class="font-medium text-white text-xl lg:text-2xl xl:text-3xl">YourBank Launches New Rewards Program to
                Enhance
                Customer Loyalty and Satisfaction</h5>
            <div class="flex flex-wrap gap-2 mt-3 lg:mt-5 mb-6">
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Location:
                    Brazil</span>
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Date:
                    06/11/2024</span>
            </div>
            <p class="mb-4 lg:mb-8">YourBank is pleased to announce the introduction of our new Rewards Program, aimed
                at
                rewarding our loyal
                customers and enhancing their banking experience. The program offers exclusive benefits, discounts, and
                personalized offers tailored to individual customer preferences. With this initiative, YourBank
                reaffirms its commitment to delivering exceptional value and building lasting relationships with our
                valued customers.</p>
        </div>
    </div>
    <div class="p-5 lg:p-[30px] bg-brand-secondary border border-[#262626] rounded-[2.5rem]">
        <div>
            <img src="press-releases1.png" alt="Press releases image">
        </div>
        <div class="lg:px-[30px] mt-[50px]">
            <h5 class="font-medium text-white text-xl lg:text-2xl xl:text-3xl">YourBank Launches New Rewards Program to
                Enhance
                Customer Loyalty and Satisfaction</h5>
            <div class="flex flex-wrap gap-2 mt-3 lg:mt-5 mb-6">
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Location:
                    Brazil</span>
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Date:
                    06/11/2024</span>
            </div>
            <p class="mb-4 lg:mb-8">YourBank is pleased to announce the introduction of our new Rewards Program, aimed
                at
                rewarding our loyal
                customers and enhancing their banking experience. The program offers exclusive benefits, discounts, and
                personalized offers tailored to individual customer preferences. With this initiative, YourBank
                reaffirms its commitment to delivering exceptional value and building lasting relationships with our
                valued customers.</p>
        </div>
    </div>
    <div class="p-5 lg:p-[30px] bg-brand-secondary border border-[#262626] rounded-[2.5rem]">
        <div>
            <img src="press-releases1.png" alt="Press releases image">
        </div>
        <div class="lg:px-[30px] mt-[50px]">
            <h5 class="font-medium text-white text-xl lg:text-2xl xl:text-3xl">YourBank Launches New Rewards Program to
                Enhance
                Customer Loyalty and Satisfaction</h5>
            <div class="flex flex-wrap gap-2 mt-3 lg:mt-5 mb-6">
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Location:
                    Brazil</span>
                <span class="bg-brand-dark border border-[#262626] px-[10px] lg:px-4 py-[6px] rounded-full">Date:
                    06/11/2024</span>
            </div>
            <p class="mb-4 lg:mb-8">YourBank is pleased to announce the introduction of our new Rewards Program, aimed
                at
                rewarding our loyal
                customers and enhancing their banking experience. The program offers exclusive benefits, discounts, and
                personalized offers tailored to individual customer preferences. With this initiative, YourBank
                reaffirms its commitment to delivering exceptional value and building lasting relationships with our
                valued customers.</p>
        </div>
    </div>

</div>