<div class="mt-20 grid lg:grid-cols-2 gap-[30px]" [ngClass]="btnActive ? '' : 'opacity-gradient'">
    <div *ngFor="let card of faqList" class="p-[25px] lg:p-[50px] border border-[#262626] rounded-xl">
        <h5 class="text-lg lg:text-xl text-white mb-7 pb-7 border-b border-[#262626] font-semibold">{{card.title}}</h5>
        <p>{{card.description}}</p>
    </div>
</div>
<div class="w-full flex justify-center mt-5">
    <button (click)="showAllCards()"
        class="flex items-center justify-center gap-2 rounded-full min-w-[143px] py-[18px] lg:px-[24px] px-5 border bg-brand-secondary border-[#262626] hover:text-brand-primary duration-300"
        [ngClass]="btnActive ? '' : 'focus:text-brand-grey duration-300'">
        {{btnActive ? 'Show Less' : 'Load All FAQ’s'}}
        <img [ngClass]="btnActive ? 'rotate-180 duration-500' : 'duration-500'" src="arrow-bottom.png"
            alt="arrow bottom icon">
    </button>
</div>