<div class="mt-20 grid lg:grid-cols-2 gap-[30px] opacity-gradient">
    <div class="p-[25px] lg:p-[50px] border border-[#262626] rounded-xl">
        <h5 class="text-lg lg:text-xl text-white mb-7 pb-7 border-b border-[#262626] font-semibold">How do I
            open an account with
            YourBank?</h5>
        <p>Opening an account with YourBank is easy. Simply visit our website and click on the "Open an Account" button.
            Follow the prompts, provide the required information, and complete the application process. If you have any
            questions or need assistance, our customer support team is available to help.</p>
    </div>
    <div class="p-[25px] lg:p-[50px] border border-[#262626] rounded-xl">
        <h5 class="text-lg lg:text-xl text-white mb-7 pb-7 border-b border-[#262626] font-semibold">How do I
            open an account with
            YourBank?</h5>
        <p>Opening an account with YourBank is easy. Simply visit our website and click on the "Open an Account" button.
            Follow the prompts, provide the required information, and complete the application process. If you have any
            questions or need assistance, our customer support team is available to help.</p>
    </div>
    <div class="p-[25px] lg:p-[50px] border border-[#262626] rounded-xl">
        <h5 class="text-lg lg:text-xl text-white mb-7 pb-7 border-b border-[#262626] font-semibold">How do I
            open an account with
            YourBank?</h5>
        <p>Opening an account with YourBank is easy. Simply visit our website and click on the "Open an Account" button.
            Follow the prompts, provide the required information, and complete the application process. If you have any
            questions or need assistance, our customer support team is available to help.</p>
    </div>
    <div class="p-[25px] lg:p-[50px] border border-[#262626] rounded-xl">
        <h5 class="text-lg lg:text-xl text-white mb-7 pb-7 border-b border-[#262626] font-semibold">How do I
            open an account with
            YourBank?</h5>
        <p>Opening an account with YourBank is easy. Simply visit our website and click on the "Open an Account" button.
            Follow the prompts, provide the required information, and complete the application process. If you have any
            questions or need assistance, our customer support team is available to help.</p>
    </div>
</div>
<div class="w-full flex justify-center mt-3">
    <button
        class="rounded-full min-w-[143px] py-[18px] lg:px-[24px] border bg-brand-secondary border-[#262626] hover:text-brand-primary">
        Load All FAQ’s
    </button>
</div>