<section class="grid grid-cols-1 md:grid-cols-2 gap-8 pb-12 z-10">
    <div class="text-center md:text-left md:pt-8 lg:pt-16">
        <span class="relative py-3 pe-4 ps-10 rounded-full bg-brand-active">
            <img src="certificate.png" alt="certificate icon"
                class="absolute top-[20%] md:top-[21%] lg:top-[22%] left-[3.5%]">
            No LLC Required, No Credit Check.</span>
        <h2 class="text-[2rem] mt-9 mb-4 font-medium leading-10 text-white lg:leading-brand lg:px-0 lg:text-5xl">
            Welcome to
            YourBank<br>
            Empowering
            Your
            <span class="text-brand-primary">Financial Journey</span>
        </h2>
        <p class="mb-8">At YourBank, our mission is to provide comprehensive banking solutions that empower individuals
            and
            businesses to achieve their financial goals. We are committed to delivering personalized and innovative
            services that prioritize our customers' needs.</p>
        <button
            class="bg-brand-primary cursor-pointer text-brand-secondary rounded-full font-semibold px-7 py-3 duration-300 hover:brightness-[80%] hover:text-black"
            routerLink="/signup">
            Open Account</button>
    </div>
    <div class="mt-8 md:mt-0">
        <img src="side-data.png" alt="data" srcset="">
    </div>
</section>

<section class="pb-[150px]">
    <div
        class="flex flex-col md:flex-row justify-center items-center text-center md:text-left md:items-end md:justify-between">
        <app-section-title [props]="titles.ourProducts"></app-section-title>
        <div class="lg:w-[30%] md:w-[40%] flex justify-end mt-6">
            <div
                class="bg-brand-secondary border border-brand-grey border-opacity-5 text-sm text-white leading-none rounded-full inline-flex px-3 py-2">
                <button *ngFor="let btn of buttons" class="inline-flex items-center rounded-full ease-in px-4 py-3"
                    (click)="toggle()"
                    [ngClass]="btn.active ? 'bg-brand-primary text-brand-dark font-semibold hover:text-brand-dark' : ''">
                    <span>{{btn.name}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap flex-col md:flex-row gap-10 md:gap-20 lg:flex-nowrap justify-between mt-[100px]">
        <div [ngClass]="card.border ? 'lg:border-x lg:border-y-0 md:border-y-0 border-y border-[#262626] lg:px-24 py-10 md:py-0' : ''"
            *ngFor="let card of productsCardList" class="flex flex-col items-center text-center mx-auto">
            <div>
                <img src={{card.icon}} class="w-28 md:w-full" alt="Card product icon">
            </div>
            <h5 class="mt-[30px] mb-6 text-2xl text-white">{{card.title}}</h5>
            <p class="max-w-[420px]">{{card.text}}</p>
        </div>
    </div>
</section>

<section>
    <app-section-title [props]="titles.useCases"></app-section-title>
    <app-use-cases [props]=individualsContent></app-use-cases>
    <app-use-cases [props]=businessesContent></app-use-cases>
</section>

<section class="mt-20 lg:mt-[200px]">
    <app-section-title [props]="titles.ourFeatures"></app-section-title>
    <app-features></app-features>
</section>