<section>
    <app-hero></app-hero>
</section>

<section>
    <app-our-products></app-our-products>
</section>

<section class="mt-20 lg:mt-[150px]">
    <app-section-title [sectionTitle]="UseCasesTitle"></app-section-title>
    <app-use-cases [useCasesData]=individualsContent></app-use-cases>
    <app-use-cases [useCasesData]=businessesContent></app-use-cases>
</section>

<section class="mt-20 lg:mt-[200px]">
    <app-features></app-features>
</section>

<section class="mt-20 lg:mt-[200px]">
    <app-faq></app-faq>
</section>

<section class="mt-20 lg:mt-[150px]">
    <app-testimonials></app-testimonials>
</section>

<section class="mt-20 lg:mt-[150px]">
    <app-call-to-action [callToAction]="callToAction"></app-call-to-action>
</section>