<section>
    <app-hero></app-hero>
</section>

<section class="pb-[150px]">
    <app-our-products [props]="titles.ourProducts"></app-our-products>
</section>

<section>
    <app-section-title [props]="titles.useCases"></app-section-title>
    <app-use-cases [props]=individualsContent></app-use-cases>
    <app-use-cases [props]=businessesContent></app-use-cases>
</section>

<section class="mt-20 lg:mt-[200px]">
    <app-section-title [props]="titles.ourFeatures"></app-section-title>
    <app-features></app-features>
</section>

<section class="mt-20 lg:mt-[200px]">
    <app-section-title [props]="titles.faq"></app-section-title>
    <app-faq></app-faq>
</section>

<section class="mt-20 lg:mt-[150px]">
    <app-testimonials [props]="titles.testimonials"></app-testimonials>
</section>

<section class="mt-20 lg:mt-[150px]">
    <app-call-to-action></app-call-to-action>
</section>