<section>
    <app-overview [overviewData]="overviewData"></app-overview>
</section>

<section class=" mt-20 xl:mt-[150px]">
    <app-our-values></app-our-values>
</section>

<section class=" mt-20 xl:mt-[150px]">
    <app-benefits></app-benefits>
</section>

<section class=" mt-20 xl:mt-[150px]">
    <app-jobs></app-jobs>
</section>

<section class=" mt-20 xl:mt-[150px]">
    <app-section-title [props]="faqTitle"></app-section-title>
    <app-faq></app-faq>
</section>

<section class="mt-20 lg:mt-[150px]">
    <app-call-to-action [callToAction]="callToAction"></app-call-to-action>
</section>