<div
    class="flex flex-col md:flex-row justify-center items-center text-center md:text-left md:items-end md:justify-between gap-5">
    <div class="lg:max-w-[75%]">
        <app-section-title [sectionTitle]="title"></app-section-title>
    </div>
    <app-toggle-button (toggleButton)="toggleCards($event)"></app-toggle-button>
</div>
<div class="relative flex justify-center gap-[50px] mt-[100px] lg:overflow-x-scroll overflow-hidden scrollbar">
    <div class="absolute w-full h-full opacity-gradient"></div>
    <div class="absolute justify-between top-[100px] w-full hidden lg:flex">
        <button class="bg-brand-secondary border border-[#262626] rounded-full p-3" (click)="slideDown()">
            <img src="arrow.png" alt="arrow icon">
        </button>
        <button class="bg-brand-secondary border border-[#262626] rounded-full p-3" (click)="slideUp()">
            <img class="rotate-180" src="arrow.png" alt="arrow icon">
        </button>
    </div>
    <div *ngFor="let card of testimonialsList">
        <div class="text-center">
            <div class="flex items-center gap-5">
                <div class="border border-[#262626] w-36 h-0 flex-1"></div>
                <div>
                    <img src="testimonials-icon.png" class="flex-1" alt="Card product icon">
                </div>
                <div class="border border-[#262626] w-36 h-0 flex-1"></div>
            </div>
            <p class="max-w-[420px] py-[50px]">{{card.testimony}}</p>
            <span class="font-medium text-brand-primary">{{card.name}}</span>
        </div>
    </div>
</div>

<div class="flex gap-5 justify-center mt-[50px] lg:hidden">
    <button class="bg-brand-secondary border border-[#262626] rounded-full p-3" (click)="slideDown()">
        <img src="arrow.png" alt="" srcset="">
    </button>
    <button class="bg-brand-secondary border border-[#262626] rounded-full p-3" (click)="slideUp()">
        <img class="rotate-180" src="arrow.png" alt="" srcset="">
    </button>
</div>