<app-section-title [props]="heading"></app-section-title>

<div class="relative grid md:grid-cols-2 mt-20 p-5 lg:p-[50px] gap-5 lg:gap-[30px]">
    <div class="absolute z-10">
        <img src="how-we-protect-you-background.png" alt="Background detail">
    </div>

    <div *ngFor="let card of howWeProtectYouCards"
        class="p-6 lg:p-[50px] bg-brand-secondary lg:rounded-[3rem] rounded-2xl border border-[#262626] z-50">
        <div class="flex gap-3 lg:gap-5 items-center mb-6">
            <div>
                <img src={{card.icon}} class="w-20 md:w-full" alt="Card product icon">
            </div>
            <h5 class="mt-[30px] mb-6 lg:text-2xl text-xl text-white font-medium">{{card.title}}</h5>
        </div>
        <p>{{card.description}}</p>
    </div>
</div>